.bdg {
  z-index: 1000;
  position: fixed;
  padding: 5px;
  border-radius: 11px;
  font-size: 12px;
  max-width: 200px;
  overflow: hidden;
  line-height: 1;
  min-width: 22px;
  text-align: center;
}
