/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bs-light);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--bs-gray-400);
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--bs-gray-500);
}
